html,
body {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

fieldset{
    border: 0;
    padding: 10px 0;
    display: flex;
}

legend{
    padding: 15px 0 20px 0;
}

.footer a{
  color: white;
}

.footer a:hover{
    color: black;
}

.hero-img {
  background: url("hero.jpg") top;
  background-size: cover;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.582);
  width: 100%;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.overlay img {
  height: 170px;
}

.footer {
  bottom: 0;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  align-items: flex-start;
  background-color: rgb(250, 250, 250);
}

.main a{
    color: black;
}

.main a:hover{
    color: grey;
}

.form-content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px rgba(0, 0, 0, 0.027);
    box-shadow: 7px 20px 17px -8px #b3b3b344;
}

.form-description, .form-content{
    padding: 0 50px;
}

label{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
}

input{
  border: #E5E7EB solid 1px;
  margin: 0 70px 0 0;
  padding: 10px;
  border-radius: 5px;
}

input:focus{
  border: blue solid 1px;
}

.error{
  border: red 1px solid;
}

.form-bottom{
  padding: 30px 50px;
  font-weight: 400;
}

.form-bottom button{
  background-color: #596D48;
  color: white;
  font-size: 1.1rem;
  padding: 15px 50px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.form-bottom button:hover{
  background-color: #637553;
  cursor: pointer;
}

.form-bottom a{
  text-decoration-line: none;
  font-weight: 600;
}
